/* || General */

:root {
  font-size: 26px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  background: url(./assets/bg.jpg);
}

/* || Sitewide */

.content {
  --content-indent: 100px 320px;
  position: relative;

  display: flex;
  flex-flow: column;
  justify-content: space-between;

  height: 100vh;
  padding: var(--content-indent);
}

.content__loading {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background: url(./assets/bg.jpg);
}

.content__loading--active {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* || Weather data */
.data {
  display: flex;
  justify-content: space-between;
}

.data__weather {
  display: flex;
  flex-flow: column;
  gap: 20px;
}

/* Main weather data */

.data__temperature {
  font-size: 4rem;
}

.data__location-info {
  margin-top: 2px;
  margin-bottom: 10px;
}

.data__toggle-units {
  width: 215px;

  color: white;

  background-color: #ffffff10;
  border-radius: 4px;

  cursor: pointer;
}

/* Extra weather data */

.data__weather--extra {
  justify-content: center;
}

.feels-like--main {
  margin-right: 4px;
}

/* || Location search form */

.search {
  display: flex;
  align-items: center;

  gap: 16px;
}

.search__input {
  /* temporary */
  height: 40px;
  width: 17vw;
  padding: 4px;

  border-bottom: 1px solid rgb(255, 255, 255);
  background: transparent;
  color: white;
}

.search__input:focus {
  outline: none;
}

/* Footer */

.footer {
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  gap: 4px;
  bottom: 0.5rem;
  right: 0.7rem;
  font-size: 16px;
}

.footer__link {
  text-decoration: none;
  font-weight: 300;
  color: rgb(255, 226, 192);
}
